body {
    background-color: #43B930;
}

.navh1 {
    color: white;
}


/* 
.nav1 {
    background-color: #C4C4C4;
    padding: 15px;
    text-align: center;
    color: white;
}

.section1 {
    background-color: #43B930;
}

.image {
    text-align: center;
    margin-top: 10px;
} */